# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
env/
venv/

# Node
node_modules/

# Data
data/raw/*
data/processed/*
data/samples/*
data

backend/models/bytetrack

# Models
*.pt
*.pth
*.onnx

# Environment
.env

# Logs
*.log

# OS
.DS_Store
